# Server
SECRET_KEY=0000000000000000000000000000000
DEBUG=True
LOG_LEVEL=DEBUG

# OSDU & RDDMS
OSDU_BASE_URL=.energy.azure.com
DATA_PARTITION_ID=dev
# Default dataspace to highlight on home:
DEFAULT_DATASPACE=maap/drogon

# Azure AD 
AZURE_TENANT_ID= 
AZURE_CLIENT_ID= 
AZURE_SCOPE=
#OIDC_REDIRECT_URI=http://localhost:8000/auth/callback
REFRESH_TOKEN=
DEFAULT_LEGAL_TAG=dev-equinor-private-default
DEFAULT_COUNTRIES=NO
DEFAULT_OWNERS=data.default.owners@dev.dataservices.energy
DEFAULT_VIEWERS=data.default.viewers@dev.dataservices.energy
APP_KEY=test-app
